{% load staticfiles %}
{% load markdown_deux_tags %}

<html>
    <head>
        <title>Active Learning - Jigsaw</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

    <div class="page-header">
		{% if user.is_authenticated %}
{#		    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>#}
{#			<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>#}
			<p class="top-menu">Hello {{ user.first_name }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
	        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
		{% endif %}
        <h1><a href="/">Active Learning - Jigsaw</a></h1>
		{% if user.is_authenticated %}
            <a class="btn btn-default" id="left" href="{% url 'expert_list' %}">Topic+Expert</a>
            <a class="btn btn-default" id="left" href="{% url 'test_detail' kind=1 %}">Test1</a>
            <a class="btn btn-default" id="left" href="{% url 'postJ_detail' idx=1 %}">1</a>
            <a class="btn btn-default" id="left" href="{% url 'postJ_detail' idx=2 %}">2</a>
            <a class="btn btn-default" id="left" href="{% url 'postJ_detail' idx=3 %}">3</a>
            <a class="btn btn-default" id="left" href="{% url 'postJ_detail' idx=4 %}">4</a>
            <a class="btn btn-default" id="left" href="{% url 'presen_detail' %}">Presentation</a>
            <a class="btn btn-default" id="left" href="{% url 'test_detail' kind=2 %}">Test2</a>
        {% endif %}

		{% if user.is_authenticated and user.is_staff %}
            <a class="btn btn-default" id="right" href="{% url 'title_list' %}">Topic</a>
        {% endif %}
    </div>

	<div class="content container">
	    <div class="row">
	        <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	        </div>
	    </div>
	</div>

{% markdown %}        {# can omit "STYLE" to use the "default" style #}
>> This is some **cool**
[Markdown](http://daringfireball.net/projects/markdown/)
text here.
{% endmarkdown %}

    </body>
</html>
