{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}

{% block content %}

    <div class="title">
    <h1>Topic: {{ title.title }}</h1>
    </div>

    {% for post in posts %}
        <div class="subtitle">
            {% if post.sub_index == '1' %}
                <h2>{{ post.sub_index }}. {{ title.subtitle1 }}</h2>
            {% elif post.sub_index  == '2' %}
                <h2>{{ post.sub_index }}. {{ title.subtitle2 }}</h2>
            {% elif post.sub_index  == '3' %}
                <h2>{{ post.sub_index }}. {{ title.subtitle3 }}</h2>
            {% else %}
                <h2>{{ post.sub_index }}. {{ title.subtitle4 }}</h2>
            {% endif %}
        </div>

        <div class="onepost">
            <div class="post">
                <div class="box_presen">
                    {% if post.f_choice == 'MARKDOWN' %}
                        <p>{{ post.text| markdown }}</p>
                    {% else %}
                        <p>{{ post.text| linebreaksbr }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
                    <p> ... </p>
    {% endfor %}

{% endblock %}
