{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
    <div class="post">
		{% if user.is_authenticated %}
			<a class="btn btn-default" id="right" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 			<a class="btn btn-default" id="right" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% else %}
	        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
		{% endif %}

		{% if post.published_date %}
		    <div class="date">
		        {{ post.published_date }} - {{ post.author.first_name }}
		    </div>
		{% else %}
		    <a class="btn btn-default" id="right" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		{% endif %}

		<div class="title">
        <h1>{{ post.title }}</h1>
		</div>
		{% if post.f_choice == 'MARKDOWN' %}
            <p>{{ post.text| markdown }}</p>
		{% else %}
	        <p>{{ post.text| linebreaksbr }}</p>
		{% endif %}

		<p> <font color = "cream">({{post.pk}}) </font></p>

    </div>
{% endblock %}
