{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
    <h3>課題の作成ページ：</h3>

    {% if title != None %}
{#        {% for title in titles %}#}

    <form method="POST" class="">{% csrf_token %}
        <button type="submit" class="save btn btn-default">OK</button>
        <div class="note"> <p>選択したらOK ⇒</p></div>
        <h3>{{ form.as_p }}</h3>
    </form>
        <hr>

        {% if user.is_authenticated %}
            <a class="btn btn-default" id="right" href="{% url 'title_deleteview' pk=title.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" id="right" href="{% url 'title_edit' pk=title.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <br>
        <div class="title">
        <h1> {{ title.title }}</h1>
        </div>

        <div class="subtitle">
        <h2> 1. {{ title.subtitle1 }}</h2>
        <h2> 2. {{ title.subtitle2 }}</h2>
        <h2> 3. {{ title.subtitle3 }}</h2>
        <h2> 4. {{ title.subtitle4 }}</h2>
        </div>
        <div class="date">
            <p>published: {{ title.created_date }} by {{ title.author.first_name }}</p>
        </div>
        <br>
    {% else %}
        <div class="title">
            <h1> Topic: 大項目 ... 問題を入力して下さい。</h1>
         </div>
         <div class="subtitle">
            <h2> 1. 小項目</h2>
            <h2> 2. 小項目</h2>
            <h2> 3. 小項目</h2>
            <h2> 4. 小項目</h2>
         </div>
         <br>
    {% endif %}

    {% if user.is_authenticated %}
        <hr><br>
        <a class="btn btn-default" id="right" href="{% url 'title_new'%}"><span class="glyphicon glyphicon-plus"></span></a>
　      <div class="note"><p>新しいTopicの追加 ⇒</p></div>
    {% endif %}

{% endblock %}
